*.swp
.DS_Store
.idea
.project
.rake_tasks~
.rerake.yml
db/schema.rb
doc/api
doc/app
db/*sqlite3
config/database.yml
config/mongrel_cluster.yml
config/sunspot.yml
config/resque.yml
config/initializers/local_initializer.rb
coverage
log
public/javascripts/less_routes.js
public/system
solr/**
spec/fixtures
tmp
test
vendor/gems
vendor/rails
vimrc
